@if (Standings != null)
{
    <div class="highlight">
        <div class="table-responsive">
            <table class="table table-borderless">
                <tbody>
                    @for (int rank = 1; rank <= Standings.Count(); rank++)
                    {
                        var standing = Standings.ElementAt(rank - 1);

                        <tr class="standing">
                            <td class="rank">@rank</td>
                            <td class="player">
                                <div class="playerDiv">
                                    <div class="playerAvatarDiv">
                                        <ProfileIcon User="@standing.User" />
                                    </div>
                                    <div>@standing.User.Username</div>
                                </div>
                            </td>
                            <td class="points">@standing.Points</td>
                        </tr>
                    }
                </tbody>
            </table>
            <p>
                Last update
                <br />
                @if (LastUpdate != null)
                {
                    <ToLocal DateTime="@DateTime.SpecifyKind(LastUpdate.Value, DateTimeKind.Utc)" Format="yyyy. mm. dd HH:MM" @rendermode="@RenderMode.InteractiveServer" />
                }
                else
                {
                    <span>Unknown</span>
                }
            </p>
        </div>
    </div>
}
else
{
    <LoadingSpinner />
}

@code {
    [Parameter]
    public IEnumerable<GameStanding>? Standings { get; set; }

    protected DateTime? LastUpdate { get; set; }

    protected override void OnParametersSet()
    {
        Standings = Standings!.OrderByDescending(s => s.Points);

        LastUpdate = Standings!
            .Select(s => s.LastUpdate)
            .Max();
    }
}
