@page "/teams/{TeamName}"
@inherits TeamDetailsBase
@rendermode InteractiveServer

@if (Team != null)
{
    <div class="header">
        <MatchFilter FilterTarget=this FilterSubmitted="OnMatchFilterSubmitted" FilterParameters="MatchFilterParameters" />   
        <div class="teamHeader">
            <div class="nameHeader">
                @Team.Name
                <BookmarkIcon Bookmark="Team" @rendermode="@RenderMode.InteractiveServer" />
            </div>
            <img class="teamLogo" src="@Team.LogoLink" alt="@Team.Name logo" />  
        </div>    
    </div>
    <div class="subMenu">
        <button class="@(ActiveSubMenu!.Equals("matches") ? "active" : "")" type="button" @onclick="@(() => {ActiveSubMenu = "matches";})">Matches</button>
        <button class="@(ActiveSubMenu!.Equals("squad") ? "active" : "")" type="button" @onclick="LoadSquadAsync">Squad</button>
    </div>
    <div class="submenuContent">
        @if (ActiveSubMenu == "matches")
        {
            @if (Matches != null)
            {
                @if (Matches.Count() > 0)
                {
                    <div class="matches">
                        @foreach (var matchesByLeagueGroup in GetMatchesByLeague())
                        {
                            <LeagueCard League="matchesByLeagueGroup.matches.First().League" Matches="matchesByLeagueGroup.matches" />
                        }
                    </div>
                }
                else
                {
                    <h1>No matches found</h1>
                }
         }
            else
            {
                <LoadingSpinner />
            }
        }
        
        @if (ActiveSubMenu == "squad")
        {
            @if (Squad != null)
            {
                @if (Squad.Count() > 0)
                {
                    <SquadCard Squad="Squad" />
                }
                else
                {
                    <h1>No squad data</h1>
                }
            }
            else
            {
                <LoadingSpinner />
            }
        }     
    </div>
}
else
{
    <LoadingSpinner />
}
