@page "/teams/{TeamName}"
@inherits TeamDetailsBase
@rendermode InteractiveServer

@if (Team != null)
{
    <div class="header">
        <div class="nameHeader">
            @Team.Name
            <BookmarkIcon Bookmark="Team" @rendermode="@RenderMode.InteractiveServer" />
        </div>
        <img class="teamLogo" src="@Team.LogoLink" alt="@Team logo" />
        <div class="subMenu">
            <button class="@(ActiveSubMenu!.Equals("matches") ? "active" : "")" type="button" @onclick="LoadMatches">Matches</button>
            <button class="@(ActiveSubMenu!.Equals("squad") ? "active" : "")" type="button" @onclick="LoadSquad">Squad</button>
        </div>
    </div>
    <div class="submenuContent">
        @if (ActiveSubMenu == "matches")
        {
            @if (Matches != null)
            {
                <div class="matches">
                    @foreach (Match match in Matches)
                    {
                        <MatchCard Match="match" />
                    }
                </div>

            }
            else
            {
                <LoadingSpinner />
            }
        }
        
        @if (ActiveSubMenu == "squad")
        {
            @if (Squad != null)
            {
                <div class="squad">
                    <SquadCard Squad="Squad" />
                </div>
            }
            else
            {
                <LoadingSpinner />
            }
        }     
    </div>
}
else
{
    <LoadingSpinner />
}
