@inherits CalendarBase

@using System.Globalization

<div class="calendar">
    <div class="calendar-header">
        <div class="title-header">
            <button type="button" class="prev-month-btn btn btn-default" @onclick="() => AddMonth(-1)">
                <i class="arrow left"></i>
            </button>

            <!--
            <div class="calendar-title">
                @SelectedDate.ToString("MMMM", CultureInfo.InvariantCulture) @SelectedDate.Year
            </div>
            -->

            <div class="calendar-title">
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @SelectedDate.ToString("MMMM", CultureInfo.InvariantCulture)
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @foreach (var month in DateTimeFormatInfo.InvariantInfo.MonthNames)
                        {
                            <button type="button" class="dropdown-item" @onclick="() => AddMonth((Array.IndexOf(DateTimeFormatInfo.InvariantInfo.MonthNames, month) + 1) - SelectedDate.Month)">
                                @month
                            </button>
                        }
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @SelectedDate.Year
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @foreach (var year in GetAvailableYears())
                        {
                            <button type="button" class="dropdown-item" @onclick="() => AddYear(year - SelectedDate.Year)">
                                @year
                            </button>
                        }
                    </div>
                </div>
            </div>

            <button type="button" class="next-month-btn btn btn-default" @onclick="() => AddMonth(1)">
                <i class="arrow right"></i>
            </button>
        </div>
        <div class="days-header">
            <span class="day">Mon</span>
            <span class="day">Tue</span>
            <span class="day">Wed</span>
            <span class="day">Thu</span>
            <span class="day">Fri</span>
            <span class="day">Sat</span>
            <span class="day">Sun</span>
        </div>
    </div>
    <div class="days">
        @foreach (var week in Weeks)
        {
            <div class="week">
                @foreach (var day in week)
                {
                    <button type="button" @onclick="() => SelectedDate = day" class="day @(IsToday(day) ? "today" : "") @(IsSelected(day) ? "selected" : "")">
                        @day.Day
                    </button>              
                }
            </div>
        }
    </div>
</div>