@if (League != null)
{
    <div class="leagueCard">
        <div class="leagueHeader">
            <a class="leagueDetails"href="/leagues/@League.Name">
                <div class="leagueLogoDiv">
                    <img class="leagueLogo" src="@League.LogoLink" alt="@League.Name logo" />
                </div>
                <div class="leagueName">
                    @League.Name
                </div>
            </a>
            <BookmarkIcon Bookmark="League" DefaultColor="defaultDark" @rendermode="@RenderMode.InteractiveServer" />
        </div>
        @if (Matches != null)
        {
            var matchesByRound = Matches
                .GroupBy(
                    m => m.Round,
                    (round, matches) => (round, Matches!.Where(m => m.Round.Equals(round)).ToList())
                );

            @foreach (var roundGroup in matchesByRound)
            {
                <h2>@roundGroup.Item1</h2>
                <div class="contentGroup">
                    @foreach (Match match in roundGroup.Item2)
                    {
                        <MatchCard Match="match" />
                    }
                </div>
            }
        }
    </div>
}

@code {
    [Parameter]
    public League? League { get; set; }

    [Parameter]
    public IEnumerable<Match>? Matches { get; set; }
}