@page "/prediction-games/{GameID}"
@inherits GameBase

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "User")]

@if (Game != null && UserAuthorized)
{
    <PageTitle>@($"{@Game.Owner.Username}'s {@Game.Name}")</PageTitle>

    <h1>@($"{@Game.Owner.Username}'s {@Game.Name}")</h1>
    <p>
        @if (@Game.Description != null)
        {
            @Game.Description
            <br />
        }
        <br />
    </p>

    <div id="gameContent">
        <div class="gameStandingCol">
            <h2>Standings</h2>
            <GameStandingsCard Standings="@Game.Standings" />
        </div>
        <div class="matchesCol">
            @foreach (var matchesByLeague in MatchesByLeagues)
            {
                <h2>@matchesByLeague.Item1.Name</h2>

                @foreach (Match match in matchesByLeague.Item2.OrderBy(m => m.IsFinished()).ThenBy(m => m.Date).Take(5))
                {
                    @if (match.IsFinished())
                    {
                        <GameMatchCard Match="match" />
                    }
                    else
                    {
                        <GameMatchCard Match="match" />
                    }
                }
            }
        </div>
        <div class="leagueStandingsCol">
            @foreach (League league in Game.Leagues)
            {
                <h2>@league.Name</h2>
                <div class="leagueStanding highlight">
                    <StandingsCard Standings="@LeagueStandings.Where(s => s.LeagueID == league.LeagueID)" />
                </div>
            }
        </div>
    </div>
}
else
{
    <PageTitle>Prediction game</PageTitle>
    <LoadingSpinner />
}