@page "/prediction-games/{GameID}"
@inherits GameBase

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "User")]

@if (Game != null && UserAuthorized)
{
    <PageTitle>@Game.Name</PageTitle>

    <h1>@Game.Name</h1>
    <p>
        @if (@Game.Description != null)
        {
            @Game.Description
            <br />
        }
        <br />
        Created by <span class="highlight">@User?.Username</span>
    </p>

    <div id="gameContent">
        <div class="gameStandingCol">
            <h2>Standings</h2>
            <GameStandingsCard Standings="@Game.Standings" />
        </div>
        <div class="matchesCol">
            <h1>456</h1>
        </div>
        <div class="leagueStandingsCol">
            @foreach (League league in Game.Leagues)
            {
                <h2>@league.Name</h2>
                <StandingsCard Standings="@LeagueStandings.Where(s => s.LeagueID == league.LeagueID)" />
            }
        </div>
    </div>
}
else
{
    <PageTitle>Prediction game</PageTitle>
    <LoadingSpinner />
}