@page "/prediction-games"
@inherits PredictionGamesBase
@attribute [Authorize(Roles = "User")]

@using Microsoft.AspNetCore.Authorization

<PageTitle>Prediction games</PageTitle>

<h1>Welcome to Prediction Games, <span class="username">@User?.Username</span>!</h1>

@if (User != null)
{
    <div class="subMenu">
        <button class="@(ActiveSubMenu!.Equals("games") ? "active" : "")" type="button" @onclick="@(() => ActiveSubMenu = "games")">Games</button>
        <button class="@(ActiveSubMenu!.Equals("create") ? "active" : "")" type="button" @onclick="@(() => ActiveSubMenu = "create")">Create game</button>
        <button class="@(ActiveSubMenu!.Equals("join") ? "active" : "")" type="button" @onclick="@(() => ActiveSubMenu = "join")">Join game</button>
    </div>
    <div class="submenuContent">
        @if (ActiveSubMenu == "games")
        {
            @if (PredictionGames != null)
            {
                @if (PredictionGames.Count() > 0)
                {
                    
                }
                else
                {
                    <p>
                        You are not participating in any prediction game yet.You can create your own game or join an existing one via
                        the <span @onclick="@(() => ActiveSubMenu = "create")">Create game</span> and <span @onclick="@(() => ActiveSubMenu = "join")">Join game</span> menupoints
                    </p>
                }
            }
            else
            {
                <LoadingSpinner />
            }
        }

        @if (ActiveSubMenu == "create")
        {
            @if (false)
            {
            }
            else
            {
                <LoadingSpinner />
            }
        }

        @if (ActiveSubMenu == "join")
        {
            @if (false)
            {
                
            }
            else
            {
                <LoadingSpinner />
            }
        }
    </div>
}
else
{
    <LoadingSpinner />
}